@model NewsAllViewModel


    <div class="card mb-3">

    <h5 class="card-header">@Model.Title</h5>
        <div class="card-body">
        <p class="card-text">@((Model.Content.Length <= 100) ? Model.Content : Model.Content.Substring(0, 200) + " ...")</p>
        <p class="mt-2 text-muted">Published by: @Model.PublisherName</p>
            <div class="d-flex align-items-center mt-3">
                <div class="d-flex gap-2">
                <a asp-area="" asp-controller="News" asp-action="Details" asp-route-id="@Model.Id"
                       class="btn btn-info mr-2">Read more</a>
                <a asp-area="" asp-controller="News" asp-action="Edit" asp-route-id="@Model.Id"
                       class="btn btn-warning mr-2">Edit</a>
                <a asp-area="" asp-controller="News" asp-action="Delete" asp-route-id="@Model.Id"
                       class="btn btn-danger">Delete</a>
                </div>
            </div>
            <div class="position-absolute text-muted" style="bottom: 10px; right: 10px;">
                Published on: @Model.PublishedOn
            </div>
        </div>
    </div>

