@model IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

@if (Model.GameIndexViewModel.Any())
{

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Games</h2>
                <div class="row justify-content-between">
                    @foreach (var game in Model.GameIndexViewModel)
                    {
                        <div class="col-md-4 mb-4">
                            <div class="card" style="width:100%;">
                                <img class="object-fit-sm-contain border rounded" src="@game.ImageUrl" alt="Game Image">
                                <div class="card-body" style="padding: 8px;">
                                    <h5 class="card-title">@game.Title</h5>
                                    <p class="card-text"> @string.Join(", ", game.Genres)</p>
                                    <a href="@Url.Action("Details", "Game", new { id = game.Id })" class="btn btn-primary">Details</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}

@if (Model.NewsIndexViewModels.Any())
{
    <div class="container">
        <div class="row justify-content-between">
            @foreach (var newsItem in Model.NewsIndexViewModels)
            {
                <div class="col-md-4 mb-2">
                    <div class="card" style="width: 100%;">
                        <div class="card-body">
                            <h5 class="card-title">@newsItem.Title</h5>
                            <p class="card-text">@newsItem.PublishedOn</p>
                            <a href="@Url.Action("Details", "News", new { id = newsItem.Id })" class="btn btn-primary">Read More</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}