@model IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<!-- Games Section -->
@if (Model.GameIndexViewModel.Any())
{
    <section class="container mt-4">
        <h2 class="mb-4">Games</h2>
        <div class="row">
            @foreach (var game in Model.GameIndexViewModel)
            {
                <div class="col-md-4 mb-4">
                    <div class="card d-flex flex-column">
                        <!-- Use a container div to maintain aspect ratio -->
                        <div class="game-image-container">
                            <img class="game-image rounded" src="@game.ImageUrl" alt="Game Image">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">@game.Title</h5>
                            <p class="card-text d-flex flex-wrap"> @string.Join(", ", game.Genres)</p>
                        </div>
                        <div class="card-footer mt-auto">
                            <a href="@Url.Action("Details", "Game", new { id = game.Id })" class="btn btn-primary">Details</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </section>
}

<!-- News Section -->
@if (Model.NewsIndexViewModels.Any())
{
    <section class="container mt-4">
        <h2 class="mb-4">News</h2>
        <div class="row">
            @foreach (var newsItem in Model.NewsIndexViewModels)
            {
                <div class="col-md-4 mb-2">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">@newsItem.Title</h5>
                            <p class="card-text">@newsItem.PublishedOn</p>
                            <a href="@Url.Action("Details", "News", new { id = newsItem.Id })" class="btn btn-primary">Read More</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </section>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
